<div class ="container">
  <div class ="row">
    <div class="col-xs-10 col-sm-8 col-md-6 col-sm-offset-1 col-md-offset-1">
  <h4>Fill out the form below:</h4>
<form id="form" >
  <div id="user-data">
    <div class="form-group">
<label for= "username">First Name:</label>
      <input
      type="text"
      id="username"
      class="form-control"
      ngModel
      name="username" required>
    </div>
    <div class="form-group">
        <label for= "username">Last Name:</label>
              <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username" required>
              
            </div>
<div class="form-group">
  <label for="email">Email:</label>
  <input 
  type="email"
  id="email"
  class="form-control"
  ngModel
  name="email" required>
  <!-- email
  #email="ngModel"> -->
  <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span> -->
</div>
</div>
<div class="form-group">
  <label for= "secret">Secret Questions:</label>
  <select id="secret" class="form-control">
    <option value="pet">Your favorite pet you have?</option>
    <option value="school">Your first school?</option>
    <option value="friend">Your best friend?</option>
    <option value="car">Your favorite car?</option>
    <option value="fruit">Your favorite fruit?</option>
    <option value="country">Your favorite country?</option>
  </select>
</div>
<div class="form-group">
    <input 
    type="Secret Answer"
    id="email"
    class="form-control"
    ngModel
    name="Secret Answer" required>
  </div>
<div class form-group>
</div>
<button class="btn btn-warning" 
type="submit"
>Submit</button>
  
</form>
</div>
<div class="col-xs-10 col-sm-8 col-md-6 col-sm-offset-1 col-md-offset-1">
  <h4>Table Below:</h4>
  <table class="table table-light table-hover">
      <thead>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Secret</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>Toyota</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td>Puppy</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>Besties</td>
        </tr>
      </tbody>
    </table>
</div>
</div>



<hr>

  <hr>
  <div class="container-fluid" style="border:5px solid grey"><h4 type="button" class="btn btn-outline-primary">My Skills</h4>
  <div class="progress">
      <div class="progress-bar bg-success" style="width:85%"> HTML5 ~ 85%</div>
  </div><br>
  <div class="progress">
      <div class="progress-bar bg-success" style="width:86%"> CSS3 ~ 86%</div></div><br>
      <div class="progress">
      <div class="progress-bar  progress-bar-striped progress-bar-animated" style="width:90%">
         Bootstrap ~ 90%</div></div><br>
      <div class="progress">
      <div class="progress-bar" style="width:68%"> Javascript ~ 68%</div></div><br>
      <div class="progress">
      <div class="progress-bar" style="width:60%"> jQuery ~ 60%</div></div><br>
      <div class="progress">
      <div class="progress-bar  progress-bar-striped progress-bar-animated" style="width:90%">
         Angular ~ 90%</div></div><br>
      <div class="progress">
      <div class="progress-bar" style="width:70%"> Typescript ~ 70%</div></div><br>
      <div class="progress">
      <div class="progress-bar bg-warning" style="width:60%"> SQL ~ 60%</div></div><br>
      <div class="progress">
      <div class="progress-bar bg-danger" style="width:40%"> C++ ~ 40%</div></div><br>
      <div class="progress">
      <div class="progress-bar bg-danger" style="width:40%">  Java~ 40%</div></div>
      
</div>
</div>
    