<div class="container">
    <button type="button" class="btn btn-dark btn-block" (click) =onClick()>Reactive Form Approach</button>
</div>
<hr>
<div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text">Angular ~Routing</p>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text">Angular ~ Component</p>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text">Angular Dependency Injection</p>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <p class="card-text">Angular ~ Directives, services, Pipe, HTTP</p>
          </div>
        </div> 
      </div>

