
<div class="container-fluid">
    <div class="row" style="margin:20px; padding:20px; text-align:center;">
        <div class="col" style="background-color:lightgrey;">
        <a class="nav-link" routerLink="/template-form" routerLinkActive="active">Template Form Demo</a>
        </div>
        <div class="col" style="background-color:grey;">
          <a class="nav-link" routerLink="/template-form" routerLinkActive="active">
            <span style="color:white"><- Smart Form -></span> </a>
        </div>
        <div class="col" style="background-color:lightgrey;">
        <a class="nav-link" routerLink="/reactive-form" routerLinkActive="active">Reactive Form Demo</a>
        </div>
      </div>
  <section>
      <router-outlet></router-outlet>
  </section>
  
</div>

